<div>

    <h2 translate="dbtracker.title">Real-time DATABASE activities</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="dbtracker.table.id">ID</th>
                    <th translate="dbtracker.table.value">Value</th>
                    <th translate="dbtracker.table.command">Command</th>
                    <th translate="dbtracker.table.time">Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in activities">
                    <td>{{activity.id}}</td>
                    <td>{{activity.value}}</td>
                    <td>{{activity.command}}</td>
                    <td>{{activity.time}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
